# standard 
pytest
pytest-cov
pylint
black
ipython
# standard py app specific
confuse
setuptools
# standard py app dist specific 
click 
fastapi 
uvicorn[standard] 
# app specific 
pandas
datetime
xgboost
scikit-learn[model_selection]
scikit-learn[pre_processing]
shap 
matplotlib
# my packages
git+https://github.com/dexplorer/utils#egg=utils
git+https://github.com/dexplorer/df-metadata#egg=metadata
